html {
  scroll-behavior: smooth;
}

.content-section {
  padding-top: 80px;
  padding-bottom: 0px;
}

#about {
  height: 100%;
  max-height: auto;
}

#contact {
  height: 100%;
  max-height: auto;
}

section > #inside-section {
  display: flex;
  height: 100%
}

#inside-section > .row {
  margin: auto;
}

a > button {
  width: 160px;
  margin-bottom: 2em;
}